body {
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
}

#container {
    width: 25%;
    height: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input {
    width: 100%;
    margin: auto;
    font-size: 20px;
    padding: 10px;
    border: 3px solid #919090;
    border-radius: 15px;
}

#checkBox {
    width: 120px;
    transform: scale(3.5);
    cursor: pointer;
}

#buttonDiv {
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

#button {
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#taskBox{
    margin-top: 20px;
    overflow-y: scroll;
    height: 250px;
}

#box{
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    align-items: center;
}



#deleteBtn{
   height: 30px;
   cursor: pointer;
}